extends layoutLoggedIn

block content
    div(id="form")
        h1.
            Account Settings for #{accountsettings.username}
        form#formChangeSettings(name="accountsettings",method="post",action="/accountsettings")         
            lable="First Name "
            input#inputUserEmail(type="text", value="#{accountsettings.firstName}", name="firstName", required="", autocomplete="off")
            br
            lable="Last Name "
            input#inputUserEmail(type="text", value="#{accountsettings.lastName}", name="lastName", required="", autocomplete="off")
            br
            br
            button#btnSubmit(type="submit") Save