extends layoutLoggedIn

block content
  div(id="form")
    h1.
      #{user.username}
  div(id="profiledata")
    form#formProfile(name="profile",method="post",action="/profile/edit")
    p My name is #{user.firstName} #{user.lastName}!
    br
    p I am a #{user.accountType}.
  div(id="aboutme")
    label About me:
    form(action="").form-inline
      .form-group.col-md-4
        textarea(readonly="", rows=5, cols=50).form-control
          | this will be the user's about me
    br
  div(id="profilePicture")
    img(src="#{user.profilePicture}")

  div(id="editProfilePicture")
    input#firstImage(type="file",name="image", required="")
    br
  div(id="cancelEditProfile")
    form#cancelEdit(type="cancelEdit", method="get", action="/profile")
        button#btnCancelUpdateProfile(type="submit") Cancel Edit
  br
  div(id="submitEditProfile")
    form#confirmEdit(type="updateEdit", method="post", action="/profile")
        button#btnUpdateProfile(type="submit") Save Changes