extends layoutLoggedIn

block content
  div(id="form")
    h1.
      #{user.username}
  div(id="profiledata")
    form#formProfile(name="profile",method="post",action="/profile")
    p My name is #{user.firstName} #{user.lastName}!
    br
    p I am a #{user.accountType}.
  div(id="aboutme")
    label About me:
    form(action="").form-inline
      .form-group.col-md-4
        textarea(readonly="", rows=5, cols=50).form-control
          | #{user.aboutMe}
    br
  div(id="lastLogin")
    p Last Online: #{user.lastLogin}
    br
  div(id="profilePicture")
    img(src="#{user.profilePicture}")

  div(id="editProfile")
    form#EditProfile(type="editProfile", method="get", action="/profile/edit")
        button#btnEdit(type="submit") Edit Profile
  br
  div(id="images")
      img(src="http://localhost:3000/webcomic/id/56e083119163c46e02b5a5b4")
  br