extends layoutLoggedIn 

block script
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
	script.

block content
	div(id="form")
		h1.
			#{webcomic.title}
	div(id="belowform")
		p Description: #{webcomic.description}
	div(id="belowbelowform")
		p Genre: #{webcomic.genre}
	br
	div(id="images")
		- for (var i = 0; i < cells.length; i++)
			img(id="images", src="http://#{header}#{cells[i]._id}")
			br

	br
	-var isAuthor=isAuthor
	-var accountType=user.accountType
	unless accountType=="viewer"
		hide
			a(href="#newCell" title="AddCell" class="AddCell") +
		html
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
		script.
			$(document).ready(function(){
			$("button").click(function(){
			$("hide").toggle();
			});
			});
		div(id="belowbelowimage")
			button#btnExit(type="button", value="View-Mode") Exit View-Mode
		hide
			div(id="belowbelowimage")
				button#btnViewMode(type="button", value="View-Mode") Viewer View-Mode
		if isAuthor == true
		hide
			form#formGoToEdit(name="editWebcomic",method="get", action="/webcomic/edit/#{webcomic._id}")
				div(id="belowimage")
					button#btnEditComic(type="submit", style=hiddenEdit) Edit
			form#formGoToDelete(name="deleteWebcomic",method="delete", action="/webcomic/delete/#{webcomic._id}")
				div(id="deleteWebcomic")
					button#btnDeleteComic(type="submit", style=hiddenEdit) Delete
	br
	br
	div(id="newCell" class="newCellDialog")
		div
			a(href="#close" title="Close" class="close") X
			h2.
				Add a new Cell!
			div
				form#formComicCell(name="newComicCell", method="post", action="/webcomic/submit", enctype='multipart/form-data')
					input#firstImage(type="file",name="image", required="")
					br
					button#btnSubmit(type="submit") Submit