extends layoutLoggedIn 

block script
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
	script.

block content
	div(id="form")
		h1.
			#{webcomic.title}
	div(id="belowform")
		p Description: #{webcomic.description}
	div(id="belowbelowform")
		p Genre: #{webcomic.genre}
	br
	div(id="images")
		- for (var i = 0; i < cells.length; i++)
			img(id="images", src="http://#{header}#{cells[i]._id}")
			br
		//If user is a contributor show the add cell button
		p #{viewMode}
		-if(accountType == "contributor" && !viewMode)
			a(href="#newCell" title="AddCell" class="AddCell", id="contributor") +
	br
	div(id="belowimage")
		//if the user viewing the comic is also the author of the comic then display the edit button
		-if(isAuthor && !viewMode)
			form#formGoToEdit(name="editWebcomic",method="get", action="/webcomic/edit/#{webcomic._id}")
				button#btnEditComic(type="submit", name="submit", value= "editMode") Edit
		//form#formViewMode(name="viewMode", method="get", action="/webcomic/id/#{webcomic._id}")
		form#formCreateWebComic(name="viewMode", method="get", action="/webcomic/id/#{webcomic._id}", enctype='multipart/form-data')
			button#btnSubmit(type="submit", name="submit", value="viewMode") View Mode	
	br
	br
	br
	
	div(id="newCell" class="newCellDialog")
		div
			a(href="#close" title="Close" class="close") X
			h2.
				Add a new Cell!
			div
				form#formComicCell(name="newComicCell", method="post", action="/webcomic/newCell/#{webcomic._id}", enctype='multipart/form-data')
					input#firstImage(type="file",name="image", required="")
					br
					button#btnSubmit(type="submit") Submit
		


