extends layoutLoggedIn 

block content
	div(id="form")
		h1.
			#{webcomic.title}
	div(id="belowform")
		p Description: #{webcomic.description}
	div(id="belowbelowform")
		p Genre: #{webcomic.genre}
	br
	div(id="images")
		- for (var i = 0; i < cells.length; i++)
			img(id="images", src="http://#{header}#{cells[i]._id}")
			br
		
	br
	div(id="belowimage")
		form#formGoToEdit(name="editWebcomic",method="get", action="/webcomic/edit/#{webcomic._id}")
			button#btnEditComic(type="submit") Edit
	br
	br
	br
	
		


