extends layoutLoggedIn 

block content
	div(id="form")
		h1.
			#{webcomic.title}
	div(id="belowform")
		p Description: #{webcomic.description}
	div(id="belowbelowform")
		p Genre: #{webcomic.genre}
	br
	div(id="images")
		img(id="images", src="http://#{webcomic.images}")
		script.
			for(i=0;i<images.length;i++)
				img(src="http://#{webcomic.images}")
	br
	-var authorID=webcomic.authorID
	-var username=username
		if authorID==username
			html
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
			script.
				$(document).ready(function(){
				$("button").click(function(){
				$("hide").toggle();
				});
				});
			div(id="belowbelowimage")
				button View-Mode
			hide
				form#formGoToEdit(name="editWebcomic",method="get", action="/webcomic/edit/#{webcomic._id}")
					div(id="belowimage")
						button#btnEditComic(type="submit", style=hiddenEdit) Edit
	br
	br
	br

