extends layoutLoggedIn 

block content
    div(id="form")
        h1.
            Edit WebComic
    div(id="belowform")
        form#formEditWebcomic(name="editWebcomic", method="post", action="/webcomic/update/#{webcomic._id}")
            br
            |Title:
            input#comicTitle(type="text", value="#{webcomic.title}" ,name="title", required="", autocomplete="off")
            br
            br
            |Description:
            input#description(type="text", value="#{webcomic.description}",name="description", required="", autocomplete="off")
            br
            br
            |Genre:
            input#genre(type="text", value="#{webcomic.genre}", name="genre", required="")
            br
            br
            br
            |Publish now?
            input#toPublish(type="checkbox", name="toPublish", value="#{webcomic.toPublish}")
            br
            br
            br
            button#btnSubmit(type="submit") Submit