extends layoutLoggedIn 

block content
	h1.
		welcome to #{webcomic.title}
	div.
		Description: #{webcomic.description}
		Genre: #{webcomic.genre}
	div(id="images")
		img(id="images", src="http://#{webcomic.images}")
		script.
			for(i=0;i<images.length;i++)
				img(src="http://#{webcomic.images}")
	div
		form#formGoToEdit(name="editWebcomic",method="get", action="/webcomic/edit/#{webcomic._id}")
			button#btnEditComic(type="submit") Edit


