extends layoutLoggedIn 

block content
    h1.
        Edit WebComic
    div
        form#formEditWebcomic(name="editWebcomic", method="post", action="/webcomic/update/#{webcomic._id}")
            |Title
            input#comicTitle(type="text", value="#{webcomic.title}" ,name="title")
            br
            |Description
            input#description(type="text", value="#{webcomic.description}",name="description")
            br
            |Genre
            input#genre(type="text", value="#{webcomic.genre}", name="genre")
            br
            |Publish now?
            input#toPublish(type="checkbox", name="toPublish", value="#{webcomic.toPublish}")
            br
            button#btnSubmit(type="submit") submit