extends layoutLoggedIn 

block script
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
	script.
		function toggleView(){
			var editBtn = document.getElementsByName("editWebcomic")[0];
			var newCellBtn = document.getElementsByName("newCellBtn")[0];
			if( editBtn.style.visibility == "visible"){
				editBtn.style.visibility = "hidden";
				newCellBtn.style.visibility = "hidden";
			}else{
				editBtn.style.visibility = "visible";
				newCellBtn.style.visibility = "visible";
			}	
		}	
block content
	div(id="form")
		h1.
			#{webcomic.title}
	div(id="belowform")
		|Description: #{webcomic.description}
		br
		br
		|Genre: #{webcomic.genre}
		br
		br
		div(class="switch")
			input(id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" onclick ="toggleView()")
			label(for="cmn-toggle-1")
		//if the user viewing the comic is also the author of the comic then display the edit button
		br
		br
		-if(isAuthor)
			form#formGoToEdit(name="editWebcomic",method="get", action="/webcomic/edit/#{webcomic._id}")
				button#btnEditComic(type="submit", name="submit", value= "editMode") Edit
	br
	div(id="images")
		- for (var i = 0; i < cells.length; i++)
			img(id="images", src="http://#{header}#{cells[i]._id}")
			br
		//If user is a contributor show the add cell button
		p #{viewMode}
		-if(accountType == "contributor" && webcomic.openToContribution)
			a(href="#newCell", name="newCellBtn", title="AddCell", class="AddCell", id="contributor") +
	br
	br
	br
	
	div(id="newCell" class="newCellDialog")
		div
			a(href="#close" title="Close" class="close") X
			h2.
				Add a new Cell!
			div
				form#formComicCell(name="newComicCell", method="post", action="/webcomic/newCell/#{webcomic._id}", enctype='multipart/form-data')
					input#firstImage(type="file",name="image", required="")
					br
					button#btnSubmit(type="submit") Submit
		


