extends layoutLoggedIn

block content
	div(id="homepage-header")
		h1.
	//Welcome to your Homepage, #{contributor.username}!		
	div(id="search-results-container")
		div(id="columnFour")
			div(class="search-results")
				h4.
					My Webcomics
				ol(id="selectable")
					- for (var i = 0; i < comics.length; i++)
						li(class="searchItem")
							br
							div(class="comic-info-container")
								|#{comics[i].title}
								//|Title: #{comics[i].title}
								//br
								//|Author: #{comics[i].authorUsername}
								//br
								//|Description: #{comics[i].description}
								//br
								//|Genre: #{comics[i].genre}
								//br
								//-if(!comics[i].toPublish)
								//	|unpublished
								//-else
								//	|published
								//br
							div(class="thumbnail-container")
								a(href="http://#{header}id/#{comics[i]._id}")
									img(id="thumbnails", src="http://#{header}thumbnail/#{comics[i].thumbnailID}")
		div(id="columnFive")
			h4.
				My History
			ol(id="selectable")
				-if(viewedComics)
					- for (var i = 0; i < viewedComics.length; i++)
						li(class="searchItem")
							br
							div(class="comic-info-container")
								|#{viewedComics[i].title}
								a(href="http://#{header}id/#{viewedComics[i]._id}")
									img(id="thumbnails", src="http://#{header}thumbnail/#{viewedComics[i].thumbnailID}")
		div(id="columnSix")
			h4.
				My Subscriptions
			ol(id="selectable")
				-if(users)
					- for (var i = 0; i < users.length; i++)
						li(class="gridItem")
							a(href="/profile/user/#{users[i].username}")
								img(src="#{users[i].profilePicture}")