extends layoutLoggedIn 

block script
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
	script.
		function toggleView(){
			var editBtn = document.getElementsByName("editWebcomic")[0];
			var newCellBtn = document.getElementsByName("newCellBtn")[0];
			if( newCellBtn.style.visibility == "visible" || newCellBtn.style.visibility == ""){
				newCellBtn.style.visibility = "hidden";
				editBtn.style.visibility = "hidden";
			}else{
				newCellBtn.style.visibility = "visible";
				editBtn.style.visibility = "visible";
			}	
		}	
block content
	div(id="comic-info-container", class="comic-info-container")
		h1.
			#{webcomic.title}
		div(id="belowform")
			|Description: #{webcomic.description}
			br
			|Genre: #{webcomic.genre}
			br
			|Author: #{webcomic.authorUsername}
			br
			|Upvotes: #{webcomic.upvotes}
			br
			div
				form#formUpvotes(name="ud", method="post", action="/webcomic/id/#{webcomic._id}", enctype='multipart/form-data')
						button#btnUpvote(type='submit', name='op_u',value='op_u') upvote	
						br
						button#btnDownvote(type='submit', name='op_d',value='opd') downvote		
			br		
			div(class="switch")
				input(id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" onclick ="toggleView()")
				label(for="cmn-toggle-1")
				|View Mode
		//if the user viewing the comic is also the author of the comic then display the edit button
		br
	-if(isAuthor)
		div(id="action-buttons")
			div(class="edit-Btn")
				a(href="/webcomic/edit/#{webcomic._id}", name="edit-bnt")
					img(src="/assets/edit.svg")
	br
	div(id="images")
		div(id="image-container")
			- for (var i = 0; i < cells.length; i++)
				img(id="images", src="http://#{header}#{cells[i]._id}")
				br
				br
		//If user is a contributor show the add cell button
	p #{viewMode}
	-if(accountType == "contributor" && webcomic.openToContribution)
		div(id="action-buttons")
			div(class="AddCell")
				a(href="#newCell", name="newCellBtn")
					img(src="/assets/arrows.svg")
	br
	br
	br
	
	div(id="newCell" class="newCellDialog")
		div
			a(href="#close" title="Close" class="close") X
			h2.
				Add a new Cell!
			div
				form#formComicCell(name="newComicCell", method="post", action="/webcomic/newCell/#{webcomic._id}", enctype='multipart/form-data')
					input#firstImage(type="file",name="image", required="")
					br
					button#btnSubmit(type="submit") Submit
		


